.panel.panel-default
  .panel-body
    .text-center
      = form_for Bookmark.new do |f|
        .field
          .input-group
            span.input-group-addon
              = label_tag "URL"
            = f.text_field :url, placeholder: "Type your link", class: "form-control", autocomplete: :off
        br
        .actions
          = f.submit "Add new bookmark", class: 'btn btn-primary'
