.panel.panel-default
  .panel-body
    .text-center
      = form_tag(bookmarks_path, method: "get", id: "search-form") do
        .field
          .input-group
            span.input-group-addon
              = label_tag "URL"
            = text_field_tag :search, params[:search], placeholder: "Search by url", class: "form-control", autocomplete: :off
          br
          .actions
            = submit_tag "Search", class: 'btn btn-primary'
