.row
  .col-md-6
    = render 'form', bookmark: @bookmark
  .col-md-6
    = render 'bookmarks/search_form'
.row
  .col-md-12
    - unless @bookmarks.present?
      .alert.alert-danger role="alert"
        p
          | By your request bookmarks not found. Try another link
  - @bookmarks.each do |bookmark|
    .col-sm-4.col-lg-4.col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title = truncate(bookmark.url, length: 40, omission: '...')
          span.label.label-danger.pull-right
            = link_to bookmark_path(bookmark), method: :delete, remote: true do
              span.glyphicon.glyphicon-remove.remove-x
        .panel-body
            = image_tag bookmark.screenshot_url, class: "img-responsive"

.text-center = will_paginate @bookmarks, renderer: BootstrapPagination::Rails
