@import "bootstrap-sprockets";
@import "bootstrap";


.slide-image {
    width: 100%;
}

h2 {
    word-break: break-all;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

h3.panel-title {
  font-size: 1em;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f7f7f7;
}

label {
    margin-bottom: 0px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    border-top-right-radius: .25em;
}

.login {
    padding-left: 26px;
    padding-right: 26px;
}

.sign-up {
    padding-left: 40px;
    padding-right: 40px;
}

.sign-up-email {
    padding-left: 54px;
    padding-right: 54px;
}

.sign-up-phone {
  padding-left: 52px;
  padding-right: 52px;
}

.sign-up-name {
  padding-left: 38px;
  padding-right: 38px;
}

.badge {
    margin-left: 5px;
}

.glyphicon {
    padding-right: 5px;
}

.wtf {
  color: #e6e6e6;
}

.pagination > li > a {
    color: #404142;
}

.pagination > li > a:hover {
    color: #404142;
}

.pagination>li.active>span {
    background-color: #222222;
    border-color: #222222;
}

.pagination>li.active>span:hover {
    background-color: #222222;
    border-color: #222222;
}

#house_description {
  max-width: 257px;
  max-height: 150px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.label-success {
    position: absolute;
}

.label-primary {
    margin-right: 6px;
}

.btn-default {
    margin-right: 5px;
}


.photo_thumbnail {
    border-radius: 3px;
}

.label-default {
    position: absolute;
    top: 1px;
    right: 41px; /* Положение от правого края */
}

.label-danger {
  position: absolute;
  top: 1px;
  right: 16px; /* Положение от правого края */
  moz-border-radius-topleft: 0;
  moz-border-radius-topright: 0;
  moz-border-radius-bottomright: 0;
  moz-border-radius-bottomleft: 0;
}

.glyphicon-pencil {
    color: white;
    padding-right: 0px;
}

.glyphicon-pencil:hover {
    color: #adadad;
}

.remove-x {
    color: white;
    padding-right: 0px;
}

.remove-x:hover {
    color: #dc8f8f;
}

#your-img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.verified {
    bottom: 0px;
    top: 1px;
    padding-right: 5px;
}

.panel-body img {
  text-align: center;
  padding: 10px 20px;
}
