nav.navbar.navbar-default role="navigation"
  .container
    .navbar-header
      button.navbar-toggle data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'BookMarksApp', root_path, class: 'navbar-brand'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if current_user
          li
            = image_tag current_user.image, class: "img-circle"
          li
            a = current_user[:name]
          li
            = link_to 'Logout', destroy_user_session_path, method: :delete
        - unless current_user
          li
            = link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path
